.buttoncart{
    display: flex;
    width: 163.828px;
    height: 40.957px;
    padding: 10px 31px;
    border-radius: 20.069px;
    background: #0E0E0E;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
}