.navbar {
    width:100%;
    background: #252525;
    padding: 16px 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
    }
    
    .navbar-container {
    height: 67px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .nav-text-container{
        display: flex;
        padding: 0 10px;
        align-items: center;
        gap: 25px;
    }